{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        La page que vous avez demandé n'existe pas. Vérifiez l'URL pour une éventuelle faute de frappe ou <a href="{{ path('homepage') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}